*{
  box-sizing:border-box;  
}
.centralfeeds{
  display:flex;
  flex-direction:column;
  margin-top:10px;
  min-height:100vh;
  background:#eee;
 margin-left:50px;
  overflow-y: scroll;
  /* overflow-x: hidden; */
}
.status{
  display:flex;
  width:100%;
}
.card{
  height:230px;
  width:120px;
  background-position: cover;
  position:relative;
  border-radius: 5px;
  margin:5px;
  transition:.2s;
}
.card:hover{
  transform:scale(1.02);
}
.statusavatar{
  position:absolute;
  top:20px;
  left:20px;
  border:5px solid blue;
}
.card span{
  position:absolute;
  bottom:20px;
  left:50px;
}
.createstory{
  height:230px;
  width:120px;
  margin:5px;
  border-radius:5px;
  background:#fff;
}
.card1{
  height:170px;
  background-position: cover;
  padding-bottom:10px;
  border-radius:5px;
  border-bottom:1px solid #000;
  position:relative;
  transition:.2s;
}
.card1:hover{transform:scale(1.02);}

.addstory{color:blue;
background:#fff;
border-radius:20px;
font-size: 24px; 
position:absolute;
bottom:-10px;
left:50px;
z-index: 5;
/* border:5px solid blue; */
}
.card1 span{
  position:absolute;
  bottom:-50px;
  left:25px;
}
.inputPost{
  display:flex;
  flex-direction:column;
  justify-content:center;
  background:#fff;
  width:550px;
  height:auto;
  border-radius:5px;
  margin:20px 50px 20px 50px;
}
form{
  display:flex;
  margin:20px;
  padding-bottom:10px;
  border-bottom:2px solid #ddd;
}
input{
  width:100%;
  border-radius:39px;
  outline:none;
  border:none;
  background:#ddd;
  font-size:20px;
}
input::placeholder{
  text-align:center;
  color:grey;
}
.inputposticons{
  display:flex;
  margin:10px;
  justify-content:space-between;
}
.video span{font-size:19px;}
.video:hover{
  background:#ddd;
  border-radius:5px;
}
.photo:hover{
  background:#ddd;
  border-radius:5px;
}
.emoji:hover{
  background:#ddd;
  border-radius:5px;
}