*{box-sizing: border-box;}
.post_container{
    width:550px;
    margin-left:50px;
    justify-content:center;
    min-height: 50vh;
    
    
}
.post{
    display:flex;
    flex-direction:column;
    background:#fff;
    width:100%;
    padding:20px;
    border-radius:10px;
  margin-bottom: 20px;
}
/* .post:last-child{margin-bottom:150px;} */
.post_header{
    display:flex;
    flex-direction:column;
    padding-bottom:10px;
}
.prof>p{padding-top:10px;
font-weight:400;}
.prof{display:flex;
padding-left:20px;}
.timep{
    font-weight:300;
}
.post_text{
    display:flex;
    padding-bottom:10px;
    /* border-bottom:2px solid rgb(141, 139, 139); */
}
.post_text span{
    padding-left:40px;
    font-size:20px;
}
.post_image{
    width:100%;
    min-height:100px;
}
.actual_image{
    min-height:100px;
    width:100%;
}
.comment_icons{
    display:flex;
    justify-content:space-between;
}
.comment{
    display:flex;
    padding:10px;
}
.comment:hover{background:#ddd;
border-radius:7px;}
.like{
    display:flex;
    padding:10px;
}
.like:hover{background:#ddd;
border-radius:7px;}
.share{
    display:flex;
    padding:10px;
}
.share:hover{background:#ddd;
border-radius:7px;}